openapi: '3.0.0'
info:
  version: 1.0.0
  title: Lazaar Haythem Documentation
  license:
    name: MIT
servers:
  - url: http://api.lazaarh.com/v1
paths:
  /contacts:
    get:
      summary: List all contacts
      operationId: listContacts
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of contacts
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contacts'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a contact
      operationId: createContacts
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /contacts/{contactId}:
    get:
      summary: Info for a specific contact
      operationId: showContactById
      parameters:
        - name: contactId
          in: path
          required: true
          description: The id of the contact to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contacts'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update an existing contact
      operationId: updateContact
      responses:
        200:
          description: Contact updated successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /contacts/search:
    get:
      summary: Search contacts by name, email, or phone number
      operationId: searchContacts
      parameters:
        - name: query
          in: query
          description: Search query string for finding contacts
          required: true
          schema:
            type: string
      responses:
        200:
          description: Array of matching contacts based on search criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contacts'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Contact:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        tag:
          type: string
    Contacts:
      type: array
      items:
        $ref: '#/components/schemas/Contact'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string